<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }} </mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }} </mat-toolbar>

<div class="form-container">

  <form (submit)="crearCliente()">
    <mat-form-field>
      <input [(ngModel)]="cedula" (keyup)="buscarCliente($any($event.target).value)" name="cedula" matInput placeholder="Cedula">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="nombre_cliente" name="nombre" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="apellido" name="apellido" matInput placeholder="Apellido">
    </mat-form-field>
    <button mat-raised-button color="primary">Crear Cliente</button>
  </form>

</div>
