<div>
  <button mat-raised-button color="primary" routerLink="/reserva">Reservar una mesa</button>
  <button mat-raised-button color="primary" routerLink="/lista-reservas">Ver lista de reservas</button>
  <button mat-raised-button color="primary" routerLink="/mapa">Ver mapa de mesas</button>
</div>
