.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-form-field{
  margin: 20px;
}
div{
  text-align: center;
}
#divButton{
  text-align: center;
}

table {
  margin-top: 50px;
  width: 100%;
}

td{
  text-align: left;
}

.form-container{
  margin-top: 50px;
  max-width: 350px;
}

form {
  display: flex;
  flex-direction: column;
}

