<div id="container">
<div id="pickers">
  <mat-form-field appearance="fill">
    <mat-label>Restaurantes</mat-label>
    <mat-select [formControl]="restaurantesControl" required [(ngModel)]="restauranteModel">
      <mat-option *ngFor="let restaurante of restaurantes" [value]="restaurante">
        {{restaurante.nombre}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="restaurantesControl.hasError('required')">
      Este campo es obligatorio
    </mat-error>
    <mat-hint>Elige un restaurante</mat-hint>
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Pisos</mat-label>
    <mat-select >
      <mat-option *ngFor="let n of numSequence(mesa.planta);
           let i = index;" [value]="i">{{i}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input required matInput [formControl]="reservasFecha" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Horarios</mat-label>
    <mat-select required [formControl]="reservasHorarios" multiple>
      <mat-select-trigger>
        {{reservasHorarios.value ? reservasHorarios.value[0] : ''}}
        <span *ngIf="reservasHorarios.value?.length > 1" class="example-additional-selection">
          (+{{reservasHorarios.value.length - 1}} {{reservasHorarios.value?.length === 2 ? 'horario' : 'horarios'}})
          </span>
      </mat-select-trigger>
      <mat-option *ngFor="let horario of horarios" [value]="horario">{{horario}}</mat-option>
    </mat-select>
    <mat-error *ngIf="reservasHorarios.hasError('required')">
      Este campo es obligatorio
    </mat-error>
    <mat-hint>Elige desde los horarios de tu reserva</mat-hint>
  </mat-form-field>
</div>
<div id="divButton">
  <button mat-raised-button color="primary" (click)=seleccionado(restaurantesControl.value,reservasFecha.value,reservasHorarios.value)>Consultar</button>

</div>
<div>
<table *ngIf="buscado" ngDefaultControl mat-table [dataSource]="mesas" [formControl]="mesaTabla" class="mat-elevation-z8">
   <ng-container matColumnDef="nombre">
     <th mat-header-cell *matHeaderCellDef>Nombre de la mesa</th>
     <td mat-cell *matCellDef="let mesa"> {{ mesa.nombre_mesa }} </td>
   </ng-container>
   <ng-container matColumnDef="capacidad">
     <th mat-header-cell *matHeaderCellDef >Capacidad</th>
     <td mat-cell *matCellDef="let mesa"> {{ mesa.capacidad }} </td>
   </ng-container>
  <ng-container matColumnDef="reservar">
    <th mat-header-cell *matHeaderCellDef ></th>
    <td mat-cell *matCellDef="let mesa">
      <button mat-raised-button color="primary" (click)=anotar(mesa,restaurantesControl.value,reservasFecha.value,reservasHorarios.value)>Reservar</button>
    </td>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="columns"></tr>
   <tr mat-row *matRowDef="let mesas; columns: columns"></tr>
 </table>

</div>
</div>

<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }} </mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }} </mat-toolbar>

<div class="form-container">

  <form>
    <mat-form-field>
      <input [(ngModel)]="cedula" (keyup)="buscarCliente($any($event.target).value)" name="cedula" matInput placeholder="Cedula">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="nombre_cliente" name="nombre" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="apellido" name="apellido" matInput placeholder="Apellido">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)=reservar(cedula,nombre_cliente,apellido)>Reservar</button>
  </form>

</div>

