.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-form-field{
  margin: 20px;
}
div{
  text-align: center;
  align-content: center;
  alignment: center;
  align-items: center;
}
#divButton{
  text-align: center;
}
mat-grid-tile {
  border-style: solid;
  border-color: red;
  border-radius: 100%;

}
#matriz{
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

#mesa {
  background-color: darkred;
  color: aliceblue;
  border-radius: 50%;
  min-height: 100px;
  min-width: 100px;
  margin: 30px;
  display: grid;
}

#vacio {
  background-color: gray;
  opacity: 10%;
  border-radius: 50%;
  min-height: 100px;
  min-width: 100px;
  margin: 30px;
}
