
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Restaurantes</mat-label>
    <mat-select [formControl]="restaurantesControl" (selectionChange)="cargarPlantas(restauranteModel.id_restaurante)" required [(ngModel)]="restauranteModel">
      <mat-option *ngFor="let restaurante of restaurantes" [value]="restaurante">
        {{restaurante.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pisos</mat-label>
      <mat-select [formControl]="plantasControl" [(ngModel)]="plantaModel">
        <mat-option *ngFor="let planta of plantas" [value]="planta" >
          {{planta}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    -->
    <!--
    <mat-form-field>
      <mat-label>Horarios</mat-label>
      <mat-select [formControl]="restaurantesHorarios" multiple>
        <mat-select-trigger>
          {{restaurantesHorarios.value ? restaurantesHorarios.value[0] : ''}}
          <span *ngIf="restaurantesHorarios.value?.length > 1" class="example-additional-selection">
          (+{{restaurantesHorarios.value.length - 1}} {{restaurantesHorarios.value?.length === 2 ? 'horario' : 'horarios'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let horario of horarios" [value]="horario">{{horario}}</mat-option>
      </mat-select>
    </mat-form-field>
    -->
  </div>
  <div id="divButton">
    <button mat-raised-button color="primary" (click)="searchMesas(restauranteModel.id_restaurante,plantaModel)">Consultar</button>
  </div>

<!--<div>
  <mat-grid-list cols="5" rowHeight="100px" gutterSize="20px">
    <mat-grid-tile *ngFor="let mesa of mesas">
      {{mesa.nombre}}
    </mat-grid-tile>
  </mat-grid-list>
</div>-->
<!--<div>
  <table mat-table [dataSource]="nuevo">
    <ng-container matColumnDef="1">
      <td mat-cell *matCellDef="let element"> {{element.mesas}} </td>
    </ng-container>

    <ng-container matColumnDef="2">
      <td mat-cell *matCellDef="let element" > {{element.mesas}} </td>
    </ng-container>

    <ng-container matColumnDef="3">
      <td mat-cell *matCellDef="let element"> {{element.mesas}} </td>
    </ng-container>

    <ng-container matColumnDef="4">
      <td mat-cell *matCellDef="let element"> {{element.mesas}} </td>
    </ng-container>

   <tr mat-row *matRowDef="let row; columns: columnasStr;"></tr>
  </table>
</div>  -->

  <div *ngIf="marcado">
  <table>
    <thead>
    <tr *ngFor="let i of matriz">
      <td *ngFor="let j of i">
        <div id="mesa" *ngIf="j.nombre_mesa != ''"><p>{{j.nombre_mesa}}</p> </div>
        <div *ngIf="j.nombre_mesa == ''" id="vacio">{{j.nombre_mesa}}</div>
      </td>
    </tr>
    </thead>
  </table>
  </div>

 <!--   <div *ngFor="let i of matriz">
      <span *ngFor="let j of i">
          {{j.nombre}}
      </span>
    </div> -->



