<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="mensajeExito" color="accent">{{ mensajeExito }}</mat-toolbar>
<mat-toolbar *ngIf="mensajeError" color="warn">{{ mensajeError }}</mat-toolbar>

<div *ngIf="!loading && !mensajeError">
  <mat-form-field>
    <mat-label>
      <input matInput type="text" (keyup)="filtro($any($event.target).value)" placeholder="filtrar">
    </mat-label>
  </mat-form-field>

  <table mat-table [dataSource]="reservas" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="mesa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mesa </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.mesa }} </td>
    </ng-container>
    <ng-container matColumnDef="restaurante">
      <th mat-header-cell *matHeaderCellDef> Restaurante </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.nomRestaurante }} </td>
    </ng-container>
    <ng-container matColumnDef="nombre_cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.nomApCliente }} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.fecha | date:'dd/MM/yyyy' }} </td>
    </ng-container>
    <ng-container matColumnDef="rango_hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora de reserva </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.rango_hora }} </td>
    </ng-container>
    <ng-container matColumnDef="cantidad_solicitada">
      <th mat-header-cell *matHeaderCellDef> Cantidad de personas </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.cantidad_solicitada }} </td>
    </ng-container>
    <ng-container matColumnDef="id_reserva">
      <th mat-header-cell *matHeaderCellDef> Id reserva </th>
      <td mat-cell *matCellDef="let reserva"> {{ reserva.id_reserva }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let reservas; columns: columns"></tr>
  </table>
</div>
